<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<main>
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Danh mục</h3>
							<div class="checkbox-filter">

								<div class="input-checkbox">
									<input type="checkbox" id="category-1">
									<label for="category-1">
										<span></span>
										Cho Nam
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-2">
									<label for="category-2">
										<span></span>
										Cho Nữ
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-3">
									<label for="category-3">
										<span></span>
										Unisex
									</label>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Thương hiệu</h3>
							<div class="checkbox-filter">
								<div class="input-checkbox">
									<input type="checkbox" id="brand-1">
									<label for="brand-1">
										<span></span>
										Rolex
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-2">
									<label for="brand-2">
										<span></span>
										Omega
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-3">
									<label for="brand-3">
										<span></span>
										Seiko
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-4">
									<label for="brand-4">
										<span></span>
										Tissot
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-5">
									<label for="brand-5">
										<span></span>
										Calvin Klein
									</label>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
<!-- 						<div class="store-filter clearfix"> -->
<!-- 							<div class="store-sort"> -->
<!-- 								<label> -->
<!-- 									Sort By: -->
<!-- 									<select class="input-select"> -->
<!-- 										<option value="0">Popular</option> -->
<!-- 										<option value="1">Position</option> -->
<!-- 									</select> -->
<!-- 								</label> -->
<!-- 							</div> -->
<!-- 						</div> -->
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
							<p th:unless="${items}" th:text="${message}"></p>
							<!-- product -->
							<div class="col-md-4 col-xs-6" th:each="p: ${items}">
								<div class="product">
									<div class="product-img">
											<img th:src="@{/images/__${#strings.arraySplit(p.productimages, ',')[0].replace('&quot;', '').replace('[','').replace(']','')}__}" alt="">											
											<div class="product-label">
											</div>
										</div>
										<div class="product-body">
											<p class="product-category"><a class="product-category" th:text="${p.brands.name}"></a> - <a class="product-category" th:text="${p.categories.name}"></a></p>
											<h3 class="product-name"><a th:href="@{|/product/detail/${p.id}|}" th:text="${p.name}"></a></h3>
											<h4 class="product-price"> <p>[[${#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT')}]] VNĐ</p> <del
													class="product-old-price"><p>[[${#numbers.formatDecimal(p.oldprice, 0, 'COMMA', 0, 'POINT')}]] VNĐ</p></del></h4>
											<div class="product-btns">
												<button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
												<button class="quick-view"><a th:href="@{|/product/detail/${p.id}|}"><i class="fa fa-eye"></i></a></button>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn" th:attr="ng-click=@{|cart.add(${p.id})|}"><i class="fa fa-shopping-cart"></i>
												Thêm vào giỏ</button>
										</div>
								</div>
							</div>
							<!-- /product -->
						</div>
						<!-- /store products -->

						<!-- store bottom filter -->
<!-- 						<div class="store-filter clearfix"> -->
<!-- 							<span class="store-qty">Showing 20-100 products</span> -->
<!-- 							<ul class="store-pagination"> -->
<!-- 								<li class="active">1</li> -->
<!-- 								<li><a href="#">2</a></li> -->
<!-- 								<li><a href="#">3</a></li> -->
<!-- 								<li><a href="#">4</a></li> -->
<!-- 								<li><a href="#"><i class="fa fa-angle-right"></i></a></li> -->
<!-- 							</ul> -->
<!-- 						</div> -->
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
</main>
</body>
</html>