<div class="row">
	<div class="col-md-12 m-b-30">
		<!-- begin page title -->
		<div class="d-block d-lg-flex flex-nowrap align-items-center">
			<div class="page-title mr-4 pr-4 border-right">
				<h1>Thống kê doanh thu</h1>
			</div>

			<div
				class="ml-auto d-flex align-items-center secondary-menu text-center">

			</div>
		</div>
		<!-- end page title -->
	</div>
</div>
<!-- end row -->
<div class="row">
	<div class="col-xxl-12 m-b-30">
		<div class="card card-statistics h-100 mb-0 apexchart-tool-force-top">
			<div class="card-header d-flex justify-content-between">
				<div class="card-heading">
					<h4 class="card-title">Báo cáo doanh thu theo tháng, năm</h4>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<canvas id="columnChart"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>