<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<main>
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container" style="width:700px;">
				<!-- row -->
				<div class="form-container">
					<form action="process.php" method="POST">
						<h3 class="text-danger">Đổi mật khẩu - <a class="text-danger" th:text="${user.username}"></a></h3>
					  <div class="form-group">
						<label for="current-password">Mật khẩu hiện tại:</label>
						<input type="password" class="form-control" id="current-password" name="current-password" placeholder="Nhập mật khẩu hiện tại">
					  </div>
					  <div class="form-group">
						<label for="new-password">Mật khẩu mới:</label>
						<input type="password" class="form-control" id="new-password" name="new-password" placeholder="Nhập mật khẩu mới">
					  </div>
					  <div class="form-group">
						<label for="confirm-password">Xác nhận mật khẩu mới:</label>
						<input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Xác nhận mật khẩu mới">
					  </div>
					  <button type="submit" class="btn btn-primary" name="change-password">Đổi mật khẩu</button>
					</form>
				  </div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
</main>
</body>
</html>
