<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="custom-container">
				<!-- row -->
				<div class="row">
					<form class="forgot-form" id="forgot-form" action="/account/forgot-password" method="post">
						<h2>Quên mật khẩu</h2>
						<br> <label for="email">Email:</label><br> <input
							type="email" id="email" name="email" required>
						<button type="submit">Gửi yêu cầu</button>
						<br>
						<br> <label for="login-link"><a href="login.html">Trở
								về trang đăng nhập? </a></label>
					</form>
				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
		</div>
		<!-- /SECTION -->
	</main>
</body>
</html>
