<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container" style="width: 500px;">
				<!-- row -->
				<div class="row">
					<form class="forgot-form" id="forgot-form"
						action="/forgot-password" method="post">
						<h2>Quên mật khẩu</h2>
						<div class="form-group">
											<th:if test="${not empty message }">
												<i style="color: red; font-weight: bold" th:text="${message}"></i>
											</th:if>
										</div>
						<div class="form-group">
							
						</div>
						<br> <label for="email">Username:</label><br> <input
							class="form-control" type="text" id="email" name="email"><br>
						<button class="btn btn-primary" type="submit">Gửi yêu cầu</button>
						<br> <br> <label for="login-link"><a
							href="/login/form">Trở về trang đăng nhập? </a></label>
					</form>
				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
		<!-- /SECTION -->
	</main>
</body>
</html>
