<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
	
<body>
<main>
<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container-aboutus">
			<h1 style="text-align: center;">Về HDWatch</h1>
			<p style="text-align: center;">Chào mừng bạn đến với Đồng Hồ HDWatch, điểm đến cuối cùng của bạn cho những chiếc đồng hồ chất lượng cao.</p>
			<!-- row -->
			<div class="row-auboutus" style="margin-left: 50px;">
				

				<h3>Chuyện của HDWatch</h3>
				<p>Đồng Hồ HDWatch được thành lập với niềm đam mê về đồng hồ và nhiệm vụ cung cấp cho khách hàng một sự
					lựa chọn đa dạng về những chiếc đồng hồ chất lượng cao. HDWatch tin rằng một chiếc đồng hồ không
					chỉ là một thiết bị để đọc giờ; nó là sự phản ánh của phong cách và cá nhân của mỗi người.</p>

				<h3>Bộ sưu tập của HDWatch</h3>
				<p>Tại Đồng Hồ Store, HDWatch sưu tập những chiếc đồng hồ đa dạng từ các thương hiệu nổi tiếng trên
					toàn thế giới. Cho dù bạn đang tìm kiếm một chiếc đồng hồ cổ điển, một chiếc đồng hồ đồng hồ thể
					thao hoặc một chiếc đồng hồ thời trang mới, HDWatch có một sản phẩm phù hợp với mọi gu thẩm mỹ và
					dịp sử dụng.</p>

				<h3>Chất lượng và Sự hài lòng của khách hàng</h3>
				<p>HDWatch cam kết cung cấp chỉ những chiếc đồng hồ chất lượng cao nhất cho khách hàng. Mỗi chiếc đồng
					hồ trong bộ sưu tập của HDWatch đều trải qua quy trình lựa chọn khắt khe để đảm bảo đáp ứng các
					tiêu chuẩn về kỹ thuật và độ bền của chúng.HDWatch cũng nỗ lực cung cấp dịch vụ khách hàng tuyệt
					vời và hướng đến sự hài lòng tuyệt đối của khách hàng.</p>

				<h3>Ghé thăm HDWatch</h3>
				<p>Khám phá trang web của HDWatch để khám phá bộ sưu tập đồng hồ đa dạng của HDWatch. Nếu bạn có bất
					kỳ câu hỏi hoặc cần hỗ trợ, đội ngũ chăm sóc khách hàng thân thiện của HDWatch luôn sẵn sàng giúp
					đỡ.</p>

				<p>Cảm ơn bạn đã lựa chọn Đồng Hồ ở cửa hàng HDWatch.HDWatch hy vọng bạn có trải nghiệm mua sắm thú vị cùng HDWatch!</p>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
</main>
</body>
</html>