<div xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/layout/index :: dynamic (~{::main})}">
	<main>
	
	<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Order Details -->
            <div class="col-md-12 order-details">
                <div class="section-title text-center">
                    <h3 class="title">GIỎ HÀNG</h3>
                </div>
                <table class="table order-summary">
                    <thead>
                        <tr>
                            <th></th>
                            <th>SẢN PHẨM</th>
                            <th>SỐ LƯỢNG</th>
                            <th>GIÁ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in cart.items">
                            <td><button ng-click="cart.remove(item.id)" class="btn btn-default">x</button></td>
                            <td>{{item.name}}</td>
                            <td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" 
                            type="number" min="1" class="form-control" /></td>
                            <td>${{item.qty*item.price | number : 2}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"><strong>TỔNG TIỀN</strong></td>
                            <td><strong class="order-total">$2940.00</strong></td>
                        </tr>
                    </tfoot>
                </table>
                <a href="#" class="primary-btn order-submit">Place order</a>
            </div>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
	
</main>
</div>
