<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li><a href="/home">Trang chủ</a></li>
						<li><a href="/category?cid=1">Danh mục</a></li>
						<li><a href="/brand?bid=1">Thương hiệu</a></li>
						<li><a href="/about">Giới thiệu</a></li>
						<li><a href="/contact">Liên lạc</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
<!-- /NAVIGATION -->